<%- include('header.ejs'); %> 
<%- include('nav.ejs'); %> 
<body>
    <div>
        <div class="ml-4 mt-4 mb-4">
            <a href="javascript:someFunction()">Export to Excel</a>
        </div>
    <table class="table table-striped" id="tab">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Coins</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% for(let d of data) { %>
                <tr>
                    <td><%- d.user_name %> </td>
                    <td><%- d.email %> </td>
                    <td><%- d.coins_sent  %> </td>
                    <td><%- d.date  %> </td>
                </tr>
            <% } %> 
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<script type="text/javascript">

function someFunction() {
    TableToExcel.convert(document.getElementById("tab"), {
            name: "data.xlsx",
            sheet: {
            name: "Sheet1"
        }
    });
}
</script>
</body>